body {
    margin: 0;
    padding: 0;
    font-family: Impact, sans-serif;
    background: linear-gradient(to bottom, #284F61, #2b596d);
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #13537e;
    padding: 15px 30px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
}

header h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
}

.user-icon {
    font-size: 30px;
    color: white;
    cursor: pointer;
}



nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 8px 12px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 8px;
}


.top-bar {
    background: #287492;
    padding: 10px 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
}

.winning-board {
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    width: 90%;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    color: white;
}

thead th {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px;
    border: 2px solid white;
}

td {
    padding: 12px;
    font-size: 16px;
    border: 2px solid white;
}

td:first-child {
    font-weight: bold;
    text-transform: uppercase;
}

th {
    font-weight: bold;
    font-size: 18px;
}

footer {
    background: #13537e;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    font-weight: bold;
    border-top: 3px solid rgba(255, 255, 255, 0.2);
    position: relative;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
    }

    .user-icon {
        font-size: 24px;
    }

    nav ul {
        display: flex;
        flex-direction: row; 
        gap: 15px;
        padding: 0;
    }

    nav ul li a {
        font-size: 24px;
        padding: 5px;
    }

    .icon {
        display: flex;
        align-items: center;
    }

    .top-bar {
        justify-content: right;
        padding: 10px;
    }

    td {
        padding: 13px;
        font-size: 10px;
        border: 2px solid white;
    }

    thead th {
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        padding: 19px;
        border: 2px solid white;
    }

    .winning-board {
        padding: 20px;
        margin-top: 20px;
        border-radius: 10px;
        width: 90%;
        height: 90%;
        margin: auto;
    }
    

}

