body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #49a1f0, #1f5b87);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    height: 80%;
}

.left-section {
    background-color: #0d3b60; 
    color: white;
    font-family: Impact, sans-serif;
    font-size: 50px; 
    font-weight: bold;
    text-align: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 100%; 
    width: 40%;
}

.left-section img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


.right-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
}

.signup-box {
    background-color: #216a9c;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    width: 400px;
    text-align: center;
}

.signup-box label {
    display: block;
    color: white;
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: bold;
}

.signup-box input {
    width: 100%;
    border: none;
    border-radius: 20px;
    background-color: #86c0ff;
    text-align: center;
    font-size: 18px;
    outline: none;
    padding: 12px;
    margin-bottom: 20px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2);
}

.signup-btn, .already-account {
    width: 80%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.signup-btn {
    background-color: #0d5ba6;
    color: white;
    margin-top: 15px;
}

.already-account {
    background-color: #86c0ff;
    color: black;
    margin-top: 10px;
    font-weight: bold;
}

.signup-btn:hover {
    background-color: #0b4b89;
}

.already-account:hover {
    background-color: #64a2e5;
}

.signup-btn:active, .already-account:active {
    top: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        text-align: center;
        height: auto;
    }
    .left-section {
        text-align: center;
        width: 100%;
        padding: 20px;
        height: auto;
        font-size: 40px; 
    }
    .right-section {
        width: 100%;
    }
    .signup-box {
        width: 90%;
        max-width: 400px;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .left-section {
        font-size: 35px; 
        padding: 15px;
    }
    .signup-box {
        width: 90%;
        padding: 30px; 
    }
    .signup-box input {
        font-size: 16px;
        padding: 10px;
    }
    .signup-btn, .already-account {
        width: 100%;
        padding: 10px;
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 90%;
    }
    .left-section {
        font-size: 30px; 
        padding: 0px;
    }

    .signup-box label {
        display: block;
        color: white;
        font-size: 10px;
        margin-bottom: 8px;
        font-weight: bold;
    }

    .left-section img {
        max-width: 75%;
        max-height: 100%;
        object-fit: contain;
    }
    .signup-box {
        width: 95%;
        padding: 25px;
    }
    .signup-box input {
        font-size: 14px;
        padding: 8px;
    }
    .signup-btn, .already-account {
        width: 100%;
        padding: 8px;
        font-size: 12px;
    }
}
